
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  padding: 0 clamp(3.125rem, 8%, 200px) 0 clamp(3.125rem, 8%, 200px);
  margin: 1vw 0 0.6vw 0;
}

ul.left-nav {
  justify-content: flex-start;
}

ul.right-nav {
  justify-content: flex-end;
  margin-left: auto;
}

li{
  padding: 0.625vw 2.25vw;
}

ul li {
  display: block;
}

a{
  text-decoration: none;
  transition: 0.5s ease;
}

a:hover {
  opacity: 0.8;
}

.theme-button {
  height: 0.7em;
  transition: 0.5s ease;
}

.theme-button:hover {
  cursor: pointer;
  opacity: 90%;
}

.hr-animate {
  position: relative;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 1px;
    margin-left :clamp(3.125rem,8%, 200px);
    margin-right :clamp(3.125rem, 8%, 200px);
    opacity: 0.5;
    border: 0;
}
@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

@media (max-width:480px) {
  ul.left-nav {
    display: none;
  }
}