<div class="wrapper">
    <div class="background"></div>
    <div class="column-one">
        <h1>my film collection</h1>
        <p>starting out simple with kodak and yashica disposable film cameras</p>
        <div class="gallery">
            <div class="image-container">
                <img src="../../assets/images/films/film1.jpg">
            </div>
            <div class="image-container">
                <img src="../../assets/images/films/film2.jpg">
            </div>
            <div class="image-container">
                <img src="../../assets/images/films/film3.jpg">
            </div>
            <div class="image-container">
                <img src="../../assets/images/films/film4.jpg">
            </div>
            <div class="image-container">
                <img src="../../assets/images/films/film5.jpg">
            </div>
            <div class="image-container">
                <img src="../../assets/images/films/film6.jpg">
            </div>
            <div class="image-container">
                <img src="../../assets/images/films/film7.jpg">
            </div>
            <div class="image-container">
                <img src="../../assets/images/films/film8.jpg">
            </div>
            <div class="image-container">
                <img src="../../assets/images/films/film9.jpg">
            </div>
            <div class="image-container">
                <img src="../../assets/images/films/film10.jpg">
            </div>
            <div class="image-container">
                <img src="../../assets/images/films/film11.jpg">
            </div>
            <div class="image-container" style="position: relative;">
                <p style="position:absolute; bottom: 1em; left: 1em;">many more on<a href="https://www.instagram.com/lai.dumpies/" target="_blank"> instagram</a>...</p>
            </div>
        </div>
    </div>
</div>
