<div class="wrapper">
    <div class="background"></div>
    <div class="column-one">
        <section class="section">
            <h1>work experience</h1>
            <div class="entry">
                <h3>Technology Summer Analyst</h3>
                <p>Morgan Stanley | May 2024 - Aug 2024</p>
                <ul>
                    <li>built internal ai chatbot for fx trading systems with <u>python</u></li>
                    <li>learnt a lot about NLP, LLM, similarity searches and data processing techniques</li>
                    <li>first exposure to investment banks and its integration with tech</li>
                </ul>
            </div>
            <div class="entry">
                <h3>Software Engineer Intern</h3>
                <p>Switcheo Labs | May 2023 - Jul 2023</p>
                <ul>
                    <li>built <u>node.js</u> server and designed databases to track trading insights</li>
                    <li>got a taste of functional programming with <u>elixir</u></li>
                    <li>migrated processes from aws to gcp</li>
                    <li>first exposure to the crypto space</li>
                </ul>
            </div>
            <div class="entry">
                <h3>Software Engineer Intern</h3>
                <p>Cyberlitmus | Jan 2022 - Apr 2022</p>
                <ul>
                    <li>first experience with software engineering</li>
                    <li>developed apis, automated reports generation with <u>golang</u></li>
                    <li>created front-end webpages with <u>angular</u></li>
                </ul>
            </div>
        </section>
        <br>
        <section class="section">
            <h1>education</h1>
            <div class="entry">
                <h3>National University of Singapore</h3>
                <p>Bachelor of Computing (Computer Science), Honours</p>
                <p>Grade: 4.6/5.0</p>
                <p>Intended Focus Areas: Database Systems, Parallel Computing</p>
                <p>NUS Global Merit Scholar</p>
            </div>
            <div class="entry">
                <h3>Eunoia Junior College</h3>
                <p>Singapore-Cambridge GCE A-Level</p>
                <p>Grade: AAA/A (PCME)</p>
                <p>Basketball Captain, Project AEGIS Mathematics Mentor</p>
            </div>
        </section>
    </div>
</div>
